{:view('Account/Public/header')}

<body>
    <div class="header"> 
        <span class="nav_left"><a href="javascript:history.go(-1)">返回</a></span>  
        <span class="nav_right"><a href="/">首页</a></span> 
        <h1>用户注册</h1>
    </div>
    <div class="wrap">
        <div class="t_p">
            <p></p>
        </div>
        <div class="section">
            <div class="login">
                <ul class="blist">
                    <li class="item">
                        <div class="item_box">	<span class="icons icon_log"></span> 	<span class="item_inp"><input placeholder="请输入用户名" name="username" id="username" class="t_i" value="" type="text"></span> 
                        </div>
                    </li>
                    <li class="item">
                        <div class="item_box">	<span class="icons icon_pass"></span> 	<span class="item_inp"><input placeholder="请输入密码" name="password" id="password" class="t_i" value="" type="password"></span> 
                        </div>
                    </li>
                    <li class="item">
                        <div class="item_box">	<span class="icons icon_pass"></span> 	<span class="item_inp"><input placeholder="请确认密码" name="password2" id="password2" class="t_i" value="" type="password"></span>
                        </div>
                    </li>
                    <li class="item">
                        <div class="item_box"> <span class="icons icon_code"><img src="{url('account/user/code')}" data-url="{url('account/user/code')}" id="code_img" /></span>  <span class="item_inp2"><input placeholder="请输入验证码" name="code" id="code" class="t_i" value="" type="text"></span>
                        </div>
                    </li>
                    <li class="item">
                        <input id="doreg" class="t_b btn_log" value="注册" type="button">
                    </li>
                    <li class="item"> <a href="{url('login')}" class="t_b btn_reg">已有账号？点此登录</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <script src="{JS_PATH}jsencrypt.min.js"></script>
    <script src="{JS_PATH}login.js"></script>
    
{@view('Account/Public/footer')}