<?php $this->view('Admin/Public/header')?>

<!-- Main content starts -->
<div class="content">
    <div class="matter">
        
        <div class="widget">
            <div class="widget-head">
                <div class="pull-left">后台操作日志</div>
                <div class="clearfix"></div>
            </div>
            <div class="widget-content">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>用户名</th>
                        <th>操作菜单</th>
                        <th>菜单URL</th>
                        <th>操作细分</th>
                        <th>项目ID</th>
                        <th>操作内容</th>
                        <th>操作时间</th>
                    </tr>
                    </thead>
                    <tbody>
                    <?php foreach($list as $v):?>
                    <tr>
                        <td>{$v.LogId}</td>
                        <td>{$v.UserName}</td>
                        <td>{$v.MenuName}</td>
                        <td>{$v.MenuKey}</td>
                        <td>{$v.LogFlag}</td>
                        <td>{$v.ItemId}</td>
                        <td><a title="{$v['Log']}">{$v['LogSub']}</a></td>
                        <td>{$v.CreateTime}</td>
                    </tr>
                    <?php endforeach?>
                    </tbody>
                </table>
                <?php if (!empty($pages)):?>
                <div class="widget-foot">
                    <ul class="pagination pull-right">
                        {$pages}
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <?php endif?>
            </div>
        </div>

    </div>
    <!-- Matter ends -->
    <div class="clearfix"></div>
</div>
<!-- Content ends -->


<?php view('Admin/Public/footer')?>