<?php $this->view('Admin/Public/header')?>

<!-- jQuery UI -->
<link rel="stylesheet" href="<?php echo STATICS_CSS?>jquery-ui.css">
<!-- Calendar -->
<link rel="stylesheet" href="<?php echo STATICS_CSS?>fullcalendar.css">
<!-- prettyPhoto -->
<link rel="stylesheet" href="<?php echo STATICS_CSS?>prettyPhoto.css">
<!-- Star rating -->
<link rel="stylesheet" href="<?php echo STATICS_CSS?>rateit.css">
<!-- Date picker -->
<link rel="stylesheet" href="<?php echo STATICS_CSS?>bootstrap-datetimepicker.min.css">
<!-- CLEditor -->
<link rel="stylesheet" href="<?php echo STATICS_CSS?>jquery.cleditor.css">
<!-- Bootstrap toggle -->
<link rel="stylesheet" href="<?php echo STATICS_CSS?>bootstrap-switch.css">
<!-- Widgets stylesheet -->
<link href="<?php echo STATICS_CSS?>widgets.css" rel="stylesheet">


<div class="navbar navbar-fixed-top bs-docs-nav" role="banner">

    <div class="conjtainer">

        <!-- Navigation starts -->
        <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">

            <ul class="nav navbar-nav" id="topmenu">
                <li class="dropdown dropdown-big">
                    <a href="<?php echo url('admin/index/index')?>" class="dropdown-toggle"><span
                            class="label label-success"><i class="icon-home"></i></span> &nbsp; </a>
                </li>

                <?php foreach($menu[0] as $k => $v):?>
                <li class="top-menu">
                    <a href="javascript:void(0)" data-mid="<?php echo $v['AdminMenuId']?>">
                        <h3><?php echo $v['Name']?></h3></a>
                </li>
                <?php endforeach;?>

            </ul>

            <!-- Links -->
            <ul class="nav navbar-nav pull-right">
                <li class="dropdown pull-right">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="javascript:void(0)">
                        <i class="icon-user"></i> <?php echo $_SESSION['AdminRealName']?> <b class="caret"></b>
                    </a>
                    <!-- Dropdown menu -->
                    <ul class="dropdown-menu">
                        <li><a href="javascript:void(0)"><i class="icon-user"></i> 资料</a></li>
                        <li><a href="javascript:void(0)"><i class="icon-cogs"></i> 设置</a></li>
                        <li><a href="javascript:void(0)"><i class="icon-refresh"></i> 刷新权限</a></li>
                        <li><a href="javascript:void(0)"><i class="icon-refresh"></i> 刷新页面</a></li>
                        <li><a href="<?php echo url('admin/index/logout')?>"><i class="icon-off"></i> 退出</a></li>
                    </ul>
                </li>
            </ul>
        </nav>

    </div>
</div>


<!-- Main content starts -->

<div class="content" style="margin-top:20px;">

    <!-- Sidebar -->
    <div class="sidebar">
        <ul id="nav">
            <?php foreach($menu[0] as $k => $v):?>
            <?php foreach($menu[$v['AdminMenuId']] as $kk => $vv):?>
            <li class="has_sub" style="display: none" data-pid="<?php echo $vv['ParentId']?>"><a href="javascript:void(0)"><i
                    class="icon-table"></i> <?php echo $vv['Name']?>  <span class="pull-right"><i class="icon-chevron-right"></i></span></a>
                <ul>
                    <?php foreach($menu[$vv['AdminMenuId']] as $k3 => $v3):?>
                    <li class="menu-link" data-mid="<?php echo $v3['AdminMenuId']?>"><a href="<?php echo url($v3['Url'])?>" target="iframe-<?php echo $v3['AdminMenuId']?>"><?php echo $v3['Name']?></a></li>
                    <?php endforeach;?>
                </ul>
            </li>
            <?php endforeach;?>
            <?php endforeach;?>
        </ul>
    </div>

    <!-- Sidebar ends -->

    <!-- Main bar -->
    <div class="mainbar">

        <!-- Matter -->
        <div class="matter">
            <div class="container">
                <div class="iframe-nav">
                    <ul class="nav nav-tabs" style="padding: 0 40px">
                        <!--
                        <li  role="presentation" class="active iframe-title none-close" data-mid="0"><a href="javascript:void(0)">欢迎页</a><div class="close">&times;</div></li>
                        -->
                    </ul>
                </div>
                <div class="iframe">
                    <!--
                    <iframe name="iframe-0" data-mid="0" height="100%" width="100%" border="0" frameborder="0" src="<?php echo url('admin/info/index')?>"></iframe>
                    -->
                </div>
            </div>
        </div>
        <!-- Matter ends -->

    </div>
    <!-- Mainbar ends -->
    <div class="clearfix"></div>

</div>
<!-- Content ends -->

<!-- Footer starts -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- Copyright info -->
                <p class="copy">Copyright &copy; <?php echo date('Y')?> | <a href="http://www.29fh.com" target="_blank">www.29fh.com</a>
                </p>
            </div>
        </div>
    </div>
</footer>

<!-- Footer ends -->

<!-- Script for this page -->
<script type="text/javascript">
    // 切换顶部菜单
    $(document).on('click', "#topmenu .top-menu", function () {
        var  mid = $(this).find('a').eq(0).attr('data-mid');
        $('#topmenu .top-menu').removeClass('active');
        $('#topmenu .top-menu').each(function (i, e) {
            if ($(e).find('a').eq(0).attr('data-mid') == mid) {
                $(e).addClass('active');
            }
        });
        var show = true;
        $('#nav li.has_sub').each(function (i, e) {
            if ($(e).attr('data-pid') == mid) {
                $(e).show();
                if (show) {
                    $(e).find('a').eq(0).addClass('subdrop');
                    $(e).find('ul').eq(0).css('display', 'block');
                }
                show = false;
            } else {
                $(e).hide();
            }
        });
    });
    // 点击左侧菜单
    $(document).on('click', "#nav .menu-link", function(){
        var href = $(this).find('a').attr("href");
        var mid = $(this).attr("data-mid");
        var title = $(this).text();
        var exists = false;
        var _ifrmae;
        $(".iframe iframe").each(function(){
            if($(this).attr("data-mid") == mid){
                _ifrmae = $(this);
                exists = true;
            }
        });
        // 检查现在有多少标签了, 超过10个, 自动关闭第一个
        if ($('li.iframe-title').size() >= 10) {
            $('li.iframe-title:first').find(".close").trigger('click');
        }
        if(exists) {
            //如果存在这个标签
            _ifrmae.attr("src",href);
            $(".iframe iframe:visible").each(function(){$(this).css({"display":"none"})});
            $(".iframe iframe[data-mid='"+mid+"']").css({"display":"inline-block"});
            focusTitle(mid);
        } else {
            //如果不存在，则新建一个
            $(".iframe iframe:visible").each(function(){$(this).css({"display":"none"})});
            var html = '<iframe name="iframe-'+mid+'" data-mid="'+mid+'" height="100%" width="100%" border="0" frameborder="0" src="'+href+'"></iframe>';
            $(".iframe").append(html);
            html = $('<li role="presentation" class="active iframe-title" data-mid="'+mid+'"><a href="javascript:void(0)">'+title+'</a><div class="close">&times;</div></li>');
            $(".iframe-nav ul").append(html);
            focusTitle(mid);

            if ($('.iframe-title').length > 1) {
                $('.iframe-title').removeClass('none-close');
            }
        }
        initiframe();
        return false;
    });
    //关闭已打开的菜单事件
    $(document).on('click', ".iframe-title .close", function(){
        if ($(this).parent().is(".none-close")) {
            sweetAlert('不能全部关闭！');
            return false;
        }
        var mid = $(this).parent().attr("data-mid");
        if ($(this).parent().is(".active")){
            var pmid = $(".iframe-title[data-mid='"+mid+"']").next().attr('data-mid');
            if (pmid == undefined){
                //show prev
                pmid = $(".iframe-title[data-mid='"+mid+"']").prev().attr('data-mid');
                $(".iframe iframe[data-mid='"+mid+"']").prev().css({"display":"inline-block"});
            }else{
                //show next
                $(".iframe iframe[data-mid='"+pmid+"']").css({"display":"inline-block"});
            }
            focusTitle(pmid);
        }
        $(".iframe iframe[data-mid='"+mid+"']").remove();//remove iframe
        $(this).parent().remove();//remove title
        //不能都关掉
        if ($('.iframe-title').length == 1){
            $('.iframe-title').addClass('none-close');
        }
        return false;
    });
    //点击已打开的菜单事件
    $(document).on('click', ".iframe-title a", function(){
        var mid = $(this).parent().attr("data-mid");
        $(".iframe iframe:visible").each(function(){$(this).css({"display":"none"})});
        $(".iframe iframe[data-mid='"+mid+"']").css({"display":"inline-block"});
        focusTitle($(this).parent().attr('data-mid'));
    });
    //让上面与左侧菜单高亮
    function focusTitle(mid){
        $(".iframe-title").removeClass('active');
        $(".iframe-title[data-mid='"+mid+"']").addClass('active');
        $(".menu-link").removeClass("active");
        $(".menu-link[data-mid='"+mid+"']").addClass('active');
    }
    // 刷新页面
    function refresh()
    {
        $(".iframe iframe:visible").each(function(){
            var name = $(this).attr("name");
            window.frames[name].location.reload();
        });
        return false;
    }
    //刷新权限
    function refreshPower(){
        $.get('admin.php?do=refresh',function(){
            window.location.reload();
        });
    }
    // 返回
    function back()
    {
        $(".iframe iframe:visible:first").each(function(){
            var name = $(this).attr("name");
            window.frames[name].history.go(-1);
        });
        return false;
    }
    // 计算iframe高
    function initiframe() {
        $(".iframe").css({height: $(window).height() - 175});
    }
    // 初始化
    $('#topmenu .top-menu').eq(0).click();
    $('#nav ul:visible li:first').click();
    initiframe();
</script>

<?php view('Admin/Public/footer')?>