<?php $this->view('Admin/Public/header')?>

<!-- jQuery UI -->
<link rel="stylesheet" href="<?php echo STATICS_CSS?>jquery-ui.css">
<!-- Calendar -->
<link rel="stylesheet" href="<?php echo STATICS_CSS?>fullcalendar.css">
<!-- prettyPhoto -->
<link rel="stylesheet" href="<?php echo STATICS_CSS?>prettyPhoto.css">
<!-- Star rating -->
<link rel="stylesheet" href="<?php echo STATICS_CSS?>rateit.css">
<!-- Date picker -->
<link rel="stylesheet" href="<?php echo STATICS_CSS?>bootstrap-datetimepicker.min.css">
<!-- CLEditor -->
<link rel="stylesheet" href="<?php echo STATICS_CSS?>jquery.cleditor.css">
<!-- Bootstrap toggle -->
<link rel="stylesheet" href="<?php echo STATICS_CSS?>bootstrap-switch.css">
<!-- Widgets stylesheet -->
<link href="<?php echo STATICS_CSS?>widgets.css" rel="stylesheet">


<div class="navbar navbar-fixed-top bs-docs-nav" role="banner">

    <div class="conjtainer">

        <!-- Navigation starts -->
        <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">

            <ul class="nav navbar-nav" id="topmenu">
                <li class="dropdown dropdown-big">
                    <a href="<?php echo url('admin/index/index')?>" class="dropdown-toggle"><span
                            class="label label-success"><i class="icon-home"></i></span> &nbsp; </a>
                </li>

                <?php foreach($menu[0] as $k => $v):?>
                <li>
                    <a href="javascript:void(0)" onclick="changeNav(<?php echo $v['AdminMenuId']?>)" data-mid="<?php echo $v['AdminMenuId']?>">
                        <h3><?php echo $v['Name']?></h3></a>
                </li>
                <?php endforeach;?>

            </ul>

            <!-- Links -->
            <ul class="nav navbar-nav pull-right">
                <li class="dropdown pull-right">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="javascript:void(0)">
                        <i class="icon-user"></i> <?php echo $_SESSION['AdminRealName']?> <b class="caret"></b>
                    </a>
                    <!-- Dropdown menu -->
                    <ul class="dropdown-menu">
                        <li><a href="javascript:void(0)"><i class="icon-user"></i> 资料</a></li>
                        <li><a href="javascript:void(0)"><i class="icon-cogs"></i> 设置</a></li>
                        <li><a href="javascript:void(0)"><i class="icon-refresh"></i> 刷新权限</a></li>
                        <li><a href="javascript:void(0)"><i class="icon-refresh"></i> 刷新页面</a></li>
                        <li><a href="<?php echo url('admin/index/logout')?>"><i class="icon-off"></i> 退出</a></li>
                    </ul>
                </li>
            </ul>
        </nav>

    </div>
</div>


<!-- Main content starts -->

<div class="content" style="margin-top:20px;">

    <!-- Sidebar -->
    <div class="sidebar">
        <ul id="nav">
            <?php foreach($menu[0] as $k => $v):?>
            <?php foreach($menu[$v['AdminMenuId']] as $kk => $vv):?>
            <li class="has_sub" style="display: none" data-pid="<?php echo $vv['ParentId']?>"><a href="javascript:void(0)"><i
                    class="icon-table"></i> <?php echo $vv['Name']?>  <span class="pull-right"><i class="icon-chevron-right"></i></span></a>
                <ul>
                    <?php foreach($menu[$vv['AdminMenuId']] as $k3 => $v3):?>
                    <li><a href="<?php echo url($v3['Url'])?>" target="iframe-r"><?php echo $v3['Name']?></a></li>
                    <?php endforeach;?>
                </ul>
            </li>
            <?php endforeach;?>
            <?php endforeach;?>
        </ul>
    </div>

    <!-- Sidebar ends -->

    <!-- Main bar -->
    <div class="mainbar">
        <!-- Page heading -->
        <div class="page-head">
            <div class="iframe-nav">
                <ul class="nav nav-tabs" style="padding: 0 40px">
                    <li class="active iframe-title none-close" mid="3"><a href="javascript://">欢迎</a><span class="close">&times;</span></li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
        <!-- Page heading ends -->
        <!-- Matter -->
        <div class="matter">
            <div class="container">
                <div class="iframe">
                    <iframe id="iframe-r" name="iframe-r" height="100%" width="100%" border="0" frameborder="0" src="<?php echo url('admin/info/index')?>"></iframe>
                </div>
            </div>
        </div>

        <!-- Matter ends -->

    </div>
    <!-- Mainbar ends -->
    <div class="clearfix"></div>

</div>
<!-- Content ends -->

<!-- Footer starts -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- Copyright info -->
                <p class="copy">Copyright &copy; <?php echo date('Y')?> | <a href="http://www.29fh.com" target="_blank">www.29fh.com</a>
                </p>
            </div>
        </div>
    </div>
</footer>

<!-- Footer ends -->

<!-- Scroll to top -->
<span class="totop"><a href="javascript:void(0)"><i class="icon-chevron-up"></i></a></span>

<!-- JS -->
<script src="<?php echo STATICS_JS?>jquery-ui-1.9.2.custom.min.js"></script> <!-- jQuery UI -->
<script src="<?php echo STATICS_JS?>fullcalendar.min.js"></script> <!-- Full Google Calendar - Calendar -->
<script src="<?php echo STATICS_JS?>jquery.rateit.min.js"></script> <!-- RateIt - Star rating -->
<script src="<?php echo STATICS_JS?>jquery.prettyPhoto.js"></script> <!-- prettyPhoto -->

<!-- jQuery Notification - Noty -->
<script src="<?php echo STATICS_JS?>jquery.noty.js"></script> <!-- jQuery Notify -->
<script src="<?php echo STATICS_JS?>themes/default.js"></script> <!-- jQuery Notify -->
<script src="<?php echo STATICS_JS?>layouts/bottom.js"></script> <!-- jQuery Notify -->
<script src="<?php echo STATICS_JS?>layouts/topRight.js"></script> <!-- jQuery Notify -->
<script src="<?php echo STATICS_JS?>layouts/top.js"></script> <!-- jQuery Notify -->
<!-- jQuery Notification ends -->
<script src="<?php echo STATICS_JS?>sparklines.js"></script> <!-- Sparklines -->
<script src="<?php echo STATICS_JS?>jquery.cleditor.min.js"></script> <!-- CLEditor -->
<script src="<?php echo STATICS_JS?>bootstrap-datetimepicker.min.js"></script> <!-- Date picker -->
<script src="<?php echo STATICS_JS?>bootstrap-switch.min.js"></script> <!-- Bootstrap Toggle -->
<script src="<?php echo STATICS_JS?>filter.js"></script> <!-- Filter for support page -->
<script src="<?php echo STATICS_JS?>custom.js"></script> <!-- Custom codes -->
<script src="<?php echo STATICS_JS?>charts.js"></script> <!-- Charts & Graphs -->

<!-- Script for this page -->
<script type="text/javascript">
    // 切换顶部菜单
    function changeNav(mid) {
        var show = true;
        $('#nav li.has_sub').each(function (i, e) {
            if ($(e).attr('data-pid') == mid) {
                $(e).show();
                if (show) {
                    $(e).find('a').eq(0).addClass('subdrop');
                    $(e).find('ul').eq(0).css('display', 'block');
                }
                show = false;
            } else {
                $(e).hide();
            }
        });
    }
    // 计算iframe高
    function initiframe() {
        $(".iframe").css({height: $(window).height() - 139});
    }
    // 点击菜单
    $(".menu-link").click(function(){
        var href = $(this).find('a').attr("href");
        var mid = $(this).attr("mid");
        var title = $(this).text();
        var sta = false;
        var $ifrmae;
        $(".iframe iframe").each(function(){
            if($(this).attr("mid") == mid){
                $iframe = $(this);
                sta = true;
            }
        });

        // 检查现在有多少标签了, 超过10个, 自动关闭第一个
        if ($('li.iframe-title').size() >= 10) {
            $('li.iframe-title:first').find(".close").trigger('click');
        }

        if(sta) {
            //如果存在这个标签
            $iframe.attr("src",href);
            $(".iframe iframe:visible").each(function(){$(this).css({"display":"none"})});//hide other iframe
            $(".iframe iframe[mid='"+mid+"']").css({"display":"inline-block"});
            focusTitle(mid);
        } else {
            //如果不存在，则新建一个
            $(".iframe iframe:visible").each(function(){$(this).css({"display":"none"})});//hide other iframe
            var html = '<iframe onload="initIframeModalContent(this)" name="iframe-'+mid+'" class="iframe-content" height="100%" width="100%" border="0" frameborder="0" src="'+href+'" mid="'+mid+'"></iframe>';
            $(".iframe").append(html);//insert iframe
            html = $('<li role="presentation" class="active iframe-title" mid="'+mid+'"><a href="javascript://">'+title+'</a><div class="close">&times;</div></li>');
            $(".iframe-nav ul").append(html);//insert title
            focusTitle(mid);

            if ($('.iframe-title').length > 1) {
                $('.iframe-title').removeClass('none-close');
            }
        }
        initiframe();
        return false;
    });

    //关闭按钮事件
    $(document).on('click', ".iframe-title .close", function(){
        var mid = $(this).parent().attr("mid");
        if ($(this).parent().is(".active")){
            var pmid = $(".iframe-title[mid='"+mid+"']").next().attr('mid');
            if (pmid == undefined){
                pmid = $(".iframe-title[mid='"+mid+"']").prev().attr('mid');
                $(".iframe iframe[mid='"+mid+"']").prev().css({"display":"inline-block"});//show prev
            }else{
                $(".iframe iframe[mid='"+pmid+"']").css({"display":"inline-block"});//show next
            }
            focusTitle(pmid);
        }

        $(".iframe iframe[mid='"+mid+"']").remove();//remove iframe
        $(this).parent().remove();//remove title
        //不能都关掉
        if ($('.iframe-title').length == 1){
            $('.iframe-title').addClass('none-close');
        }
        return false;

    });

    //点击菜单事件
    $(document).on('click', ".iframe-title a", function(){
        var mid = $(this).parent().attr("mid");
        $(".iframe iframe:visible").each(function(){$(this).css({"display":"none"})});//hide other iframe
        $(".iframe iframe[mid='"+mid+"']").css({"display":"inline-block"});
        focusTitle($(this).parent().attr('mid'));
    });

    $(".menu-group").click(function(){
        $(".menu-group").removeClass("active");
        $(this).addClass("active");
        menutoggle($(this).attr("pid"));
        return false;
    });

    //让obj标签高亮
    function focusTitle(mid){
        $(".iframe-title").removeClass('active');
        $(".iframe-title[mid='"+mid+"']").addClass('active');
        $(".menu-link").removeClass("active");
        $(".menu-link[mid='"+mid+"']").addClass('active');
    }
    // 刷新页面
    function refresh()
    {
        $(".iframe iframe:visible").each(function(){
            var name = $(this).attr("name");
            window.frames[name].location.reload();
        });
        return false;
    }
    //刷新权限
    function refreshPower(){
        $.get('admin.php?do=refresh',function(){
            window.location.reload();
        });
    }
    // 返回
    function back()
    {
        $(".iframe iframe:visible:first").each(function(){
            var name = $(this).attr("name");
            window.frames[name].history.go(-1);
        });
        return false;
    }

    changeNav($('#topmenu li:eq(1)').find('a').eq(0).attr('data-mid'));
    initiframe();
</script>

<?php view('Admin/Public/footer')?>