<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
    <title>29书库</title>
    <meta name="keywords" content="29书库" />
    <meta name="description" content="29书库" />
    <meta name="robots" content="all" />
    <meta name="author" content="29shu.iok.la" />
	<link rel="icon" href="/favicon.ico" type="image/x-icon" />
    <script type="text/javascript" src="<?php echo JS_PATH?>syntax/shCore.js"></script>
	<script type="text/javascript" src="<?php echo JS_PATH?>syntax/shBrushPhp.js"></script>
    <script type="text/javascript" src="<?php echo JS_PATH?>syntax/shBrushJScript.js"></script>
    <script type="text/javascript" src="<?php echo JS_PATH?>syntax/shBrushXml.js"></script>
	<link type="text/css" rel="stylesheet" href="<?php echo CSS_PATH?>syntax/shCoreDefault.css"/>
	<script type="text/javascript">SyntaxHighlighter.all();</script>
	<style>
		html,body{ background-color: #C2F1F9; margin:0;}
		.body{ width: 1200px; margin: 22px auto}
		.nav{ width: 125px; float: left}
		.nav a{ display: block;line-height: 30px; text-decoration: none;}
		.nav a:hover, .nav a.active{ color: red;}
		.container { width: 1050px; height:600px; overflow: auto; float: right}
	</style>
	<script type="text/javascript">
		window.onload = function(){
			var height = document.documentElement.clientHeight;
			document.getElementById('container').style.height = (height -50) + 'px';
		}
	</script>
</head>

