
<!-- JS -->
<script src="{STATICS_JS}bootstrap.js"></script>
<script src="{STATICS_JS}jquery-ui-1.9.2.custom.min.js"></script> <!-- jQuery UI -->
<script src="{STATICS_JS}fullcalendar.min.js"></script> <!-- Full Google Calendar - Calendar -->
<script src="{STATICS_JS}jquery.rateit.min.js"></script> <!-- RateIt - Star rating -->
<script src="{STATICS_JS}jquery.prettyPhoto.js"></script> <!-- prettyPhoto -->

<!-- jQuery Flot -->
<script src="{STATICS_JS}excanvas.min.js"></script>
<script src="{STATICS_JS}jquery.flot.js"></script>
<script src="{STATICS_JS}jquery.flot.resize.js"></script>
<script src="{STATICS_JS}jquery.flot.pie.js"></script>
<script src="{STATICS_JS}jquery.flot.stack.js"></script>

<!-- jQuery Notification - Noty -->
<script src="{STATICS_JS}jquery.noty.js"></script> <!-- jQuery Notify -->
<script src="{STATICS_JS}themes/default.js"></script> <!-- jQuery Notify -->
<script src="{STATICS_JS}layouts/bottom.js"></script> <!-- jQuery Notify -->
<script src="{STATICS_JS}layouts/topRight.js"></script> <!-- jQuery Notify -->
<script src="{STATICS_JS}layouts/top.js"></script> <!-- jQuery Notify -->
<!-- jQuery Notification ends -->

<script src="{STATICS_JS}sparklines.js"></script> <!-- Sparklines -->
<script src="{STATICS_JS}jquery.cleditor.min.js"></script> <!-- CLEditor -->
<script src="{STATICS_JS}bootstrap-datetimepicker.min.js"></script> <!-- Date picker -->
<script src="{STATICS_JS}bootstrap-switch.min.js"></script> <!-- Bootstrap Toggle -->
<script src="{STATICS_JS}filter.js"></script> <!-- Filter for support page -->
<script src="{STATICS_JS}custom.js"></script> <!-- Custom codes -->
<script src="{STATICS_JS}charts.js"></script> <!-- Charts & Graphs -->
<script type="text/javascript">
    $(".go-back").click(function(){
        history.back();
    });
</script>
</body>
</html>