<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <!-- Title and other stuffs -->
    <title><?php echo $seo['title']?></title>
    <meta name="keywords" content="<?php echo $seo['keywords']?>" />
    <meta name="description" content="<?php echo $seo['description']?>" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="<?php echo $seo['author']?>">
    <!-- Stylesheets -->
    <link href="<?php echo STATICS_CSS?>bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="<?php echo STATICS_CSS?>font-awesome.css">
    <link href="<?php echo STATICS_CSS?>style.css" rel="stylesheet">
    <link href="<?php echo STATICS_CSS?>admin.css" rel="stylesheet">

    <!-- HTML5 Support for IE -->
    <!--[if lt IE 9]>
    <script src="<?php echo STATICS_JS?>html5shim.js"></script>
    <![endif]-->

    <link rel="stylesheet" href="<?php echo CSS_PATH?>sweetalert.css">
    <!--[if lt IE 9]>
    <script type="text/javascript" src="<?php echo JS_PATH?>jquery-1.10.2.min.js"></script>
    <![endif]-->
    <!--[if gte IE 9]><![endif]-->
    <script type="text/javascript" src="<?php echo JS_PATH?>jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="<?php echo JS_PATH?>sweetalert.min.js"></script>

    <!-- Favicon -->
    <link rel="shortcut icon" href="/favicon.ico">
</head>
<body>
