<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <!-- Title and other stuffs -->
    <title>{$seo['title']}</title>
    <meta name="keywords" content="{$seo['keywords']}" />
    <meta name="description" content="{$seo['description']}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="{$seo['author']}">
    <!-- Stylesheets -->
    <link href="{STATICS_CSS}bootstrap.css" rel="stylesheet">
    <link rel="stylesheet" href="{STATICS_CSS}font-awesome.css">
    <link href="{STATICS_CSS}style.css" rel="stylesheet">
    <link href="{STATICS_CSS}admin.css" rel="stylesheet">
    <link rel="stylesheet" href="{CSS_PATH}sweetalert.css">

    <!-- HTML5 Support for IE -->
    <!--[if lt IE 9]>
    <script src="{STATICS_JS}html5shim.js"></script>
    <![endif]-->
    <!--[if lt IE 9]>
    <script type="text/javascript" src="{JS_PATH}jquery-1.10.2.min.js"></script>
    <![endif]-->
    <!--[if gte IE 9]><![endif]-->
    <script type="text/javascript" src="{JS_PATH}jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="{JS_PATH}sweetalert.min.js"></script>

    <!-- Favicon -->
    <link rel="shortcut icon" href="/favicon.ico">
</head>
<body>
