    <div class="footer home-bg">
        <p class="copyright mt20"><b>&copy;{date('Y')}</b> www.29fh.com</p> <span id="gotop" class="icons icon-gotop"></span>
    </div>
    
    <div class="pop_cover"></div>
    <div class="pop_tip">
        <div class="pop_inner">
            <div class="pop_cont"></div>
        </div>
    </div>
</body>
<script>
var _hmt = _hmt || [];
(function() {
  var hm = document.createElement("script");
  hm.src = "https://hm.baidu.com/hm.js?d76b3b173b9756dfc4d7af66f188de51";
  var s = document.getElementsByTagName("script")[0]; 
  s.parentNode.insertBefore(hm, s);
})();
</script>

</html>