{:view('Book/Public/header')}

<body>
    <div class="wrap">
        <!--导航区-->
        <div class="t-nav" id="t-nav">
            <span class="nav_left"><a href="/">首页</a></span>
            <span class="nav_right"><a href="{uri('book', $fromsite.'_'.$bookid)}">目录</a></span>
            <h1><?php echo $book['BookName']?></h1>
        </div>
        <!--翻页-->
        <div class="t-page t-prev" id="t-prev">
            <?php if($prev):?>
            <a href="{uri('book', $fromsite.'_'.$bookid, $prev)}" id="t-b-p" >上一章</a>
            <?php endif;?>   
        </div>
        <div class="t-page t-next" id="t-next">
            <?php if($next):?>
            <a href="{uri('book', $fromsite.'_'.$bookid, $next)}" id="t-b-n">下一章</a>
            <?php endif;?>
        </div>

        <div class="chapter" id="chapter">
            <div class="chapter-inner">
                <p class="chapname"><span class="bname" id="chaptitle">{$column['ChapterName']} ({$percent})</span><!--<span class="binfo" id="chapbname"><?php echo $book['BookName']?></span>-->
                </p>
                <p id="chapcont"><?php echo $content['Content']?></p>
            </div>
        </div>
        <div class="chaplink">
            <?php if($prev):?>
            <a href="<{uri('book', $fromsite.'_'.$bookid, $prev)}" class="prevchap bggy" id="btn_prev">上一章</a>
            <?php endif;?>
            <?php if($next):?>
            <a href="{uri('book', $fromsite.'_'.$bookid, $next)}" class="nextchap bgye" id="btn_next">下一章</a>
            <?php endif;?>
        </div>
    </div>
    
   <!-- 功能区 begin -->
    <div class="t-cover"></div>
    <div class="t-scroll-lock"></div>

    <!--滚动-->
    <div class="t-scrol">
        <p class="t_c t-sc-n"><span class="t-s-n" id="t-s-n">60</span>
        </p>
        <p class="t_c t-sc-s"><span class="t-s-d" id="t-s-d">-</span><span class="t-s-i" id="t-s-i">+</span>
            <!--<span class="t-s-s" id="t-s-s">▶</span>-->
        </p>
    </div>
    <!--提示-->
    <div class="t-wrap t-tips"></div>
    <!--功能提示-->
    <div class="t-pop-tip" id="t-pop-tip">
        <div class="t-pop-inner">
            <div class="t-pop-cont">
                <p>单击 弹出菜单</p>
            </div>
        </div>
    </div>
    <script src="<?php echo STATICS_JS?>rtools.js"></script>


    {:view('Book/Public/footer')}
