{:view('Book/Public/header')}

<body>
    
    {:view('Book/Public/header2')}
    
    <div class="top_sign"> <span class="usr_grade">您好，{$username}！</span>
        <span class="usr_sign"><a href="{url('account/user/logout')}">退出登录</a></span>	
    </div>
    
    <div class="section">
        <h3 class="title"><span class="b_l">我的书架({$total})</span></h3> 
        <div class="box tab-pane clearfix">
            <div class="blist tab-content active">
                <ul  id="search_list">
                {if !empty($list)}
                    {foreach $list as $v}
                    <li>
                        <a href="{uri('book', $v['DefaultFromSite'].'_'.$v['BookId'])}">
                            <div class="bcover fl">
                                <img src="{$v['Cover']}" height="130" width="85" />
                            </div>
                            <div class="bintro pl10">
                                <h4>{$v['BookName']}</h4>
                                <p>{$v['TypeName']} . {$v['Author']}
                                    <br>{$v['BookDesc']}</p>
                            </div>
                        </a>
                    </li>
                    {/foreach}
                {else}
                    <li><p class="center">书架里什么都没有！</p></li>
                {/if}
                </ul>
                {if count($list) == 10}
                <p class="item mt15"><a href="javascript:void(0);" class="t_b btn_vip" id="search_more_btn">加载更多</a></p>
                {/if}
            </div>
        </div>
    </div>
    
    <div class="top_class">
        <div class="list_nav">
            <ul>
                {foreach $typelist as $k=>$v}
                <li><a href="{uri('book', 'type_'.$k)}">{$v}</a></li>
                {/foreach}
            </ul>
        </div>
    </div>

    <div class="search">
        <div class="searchbox mt10 clearfix">
            <form action="{url('search')}" method="get">
                <input name="str" type="text" class="t_i" placeholder="关键字" autocomplete="off"/>
                <div class="searchbtn"> <span class="t_b"></span>  <span class="t_t">搜索</span> 
                    <input type="submit" value="" />
                </div>
            </form>
        </div>
    </div>

    <script type="text/javascript">
        $(window).scroll(function () {
            var bot = 360; //bot是底部距离的高度
            if ((bot + $(window).scrollTop()) >= ($(document).height() - $(window).height())) {
                getAjaxList();
            }
        });
    </script>

{@view('Book/Public/footer')}