<!DOCTYPE html>
<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="Content-Type" content="text/html;">
    <meta http-equiv="Content-Script-Type" content="text/javascript">
    <meta http-equiv="Content-Style-Type" content="text/css">
    <meta charset="utf-8">
    <meta name="viewport" id="viewport" content="width = device-width, initial-scale = 1, minimum-scale = 1, maximum-scale = 1, user-scalable=no">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta equiv="Expires" content="0">
    <title>{$seo['title']}</title>
    <meta name="keywords" content="{$seo['key']}">
    <meta name="description" content="{$seo['desc']}">
    <style type="text/css">
        <!--
        body {
            -webkit-user-select: none;
            margin:0 auto;
            background:#000;
        }
        #play68box {
            top: 25%;
        }
        -->
    </style>
    <script>var img_path = '{STATICS_IMG}';</script>
    <script type="text/javascript" src="{STATICS_JS}gm16.js"></script>
</head>
<body onorientationchange="rtalt()" style="-webkit-transform-origin: 0px 0px 0px; ">

<div id="chf2" style="position:relative;width:320px;margin:0 auto;"><canvas id="gcvs" width="320" height="416"></canvas></div>

<link type="text/css" rel="stylesheet" href="{STATICS_CSS}sidebar.css">

{@view('Game/Public/nav')}
</body>
</html>