<!DOCTYPE html>
<html>

<head>

    <meta charset="UTF-8">
    <title><?php echo $seo['title']?></title>
    <meta name="keywords" content="<?php echo $seo['key']?>">
    <meta name="description" content="<?php echo $seo['desc']?>">
    <link rel="stylesheet" href="<?php echo STATICS_CSS?>style.css" media="screen" type="text/css" />

</head>

<body>

<div id="canvasContainer"></div>
<span id="textInputSpan">
  Your name (max 8 chars) :
  <input id="textInput" maxlength="10" type="text" width="150" />
  <button onclick="changeText()">GO!</button>
</span>
<script src="<?php echo STATICS_JS?>index.js"></script>

<?php view('Game/Public/nav')?>

</body>

</html>