<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><?php echo $seo['title']?></title>
    <meta name="keywords" content="<?php echo $seo['key']?>">
    <meta name="description" content="<?php echo $seo['desc']?>">
    <script src="<?php echo STATICS_JS?>modernizr-1.6.min.js"></script>
    <script src="<?php echo STATICS_JS?>main.js"></script>
</head>
<body style="background:#ffc0cb">
<div style="position: absolute; top: 10%; left: 30%;">
    <canvas id="canvasOne" width="650" height="384" top=50px; left=50px;>Your browser does not support the HTML 5 Canvas. </canvas>
</div>

<?php view('Game/Public/nav')?>

</body>
</html>